<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:node="remove" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application android:requestLegacyExternalStorage="true">
        <activity
            android:name=".ui.edit.EditImageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.aboutus.AboutUsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.edit.result.CompressResultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.param.CompressParamActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.result.CompleteResultActivity"
            android:screenOrientation="portrait" />
    </application>
</manifest>